
.header-menu {
  text-align: end
}

.header-menu a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
}

.header-menu a:hover {
  color: blue;
  text-decoration: underline;
}

main {
  padding: 24px;
  min-height: 650px;
  /* background: #FAFAFA; */
}