.container {
  display: grid;
  grid-template-columns: 75% 25%;
}

.App-header {
  background: #222;
  padding: 18px;
  color: white;
  font-size: 18px;
  max-height: 18px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.App-footer {
  padding: 50px;
  background: #222;
  max-height: 250px;
}

.header-menu {
  text-align: end
}

.header-menu a {
  text-decoration: none;
  color: white;
  /* margin-left: 5px; */
  margin-right: 15px;
}

.header-menu a:hover {
  color: blue;
  text-decoration: underline;
}

.menu {
  background: #222;
  color: #ADADAD;
}