.container {
  display: grid;
  grid-template-columns: 25% 75%;
}

.App-header {
  background: #0B132B;
  padding: 18px;
  color: #5BC0BE;
  font-size: 18px;
  min-height: 25px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.App-footer {
  background: #222;
  height: 200px;
  width: 100%;
}

.header-menu {
  text-align: end
}

.header-menu a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
}

.header-menu a:hover {
  color: blue;
  text-decoration: underline;
}

.menu {
  height: 100%;
  background: #222;
}

.card {
  padding: 15px;
  background: #222;
  box-shadow: 5px 10px 15px grey;
  margin: 25px;
  color: white;
}

.card a {
  color: red;
}

aside {
  height: 100%;
  min-height: 800px;
}

.test {
  text-align: center;
}

.test a:visited{
  text-decoration: none;
}